<div class="container" ng-init="getExpense()">
  <form category-form ng-submit="updateExpense()">
    <fieldset>
      <legend>Add Expense</legend>

      <div class="form-group">
        <label for="">*Categories</label>
        <select class="form-control" ng-init="getCategories()" ng-model="expense._category_id">
          <option
          ng-repeat="category in categories"
          ng-selected="category._id == expense._category_id"
          value="{{category._id}}">
            {{category.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">*Name</label>
        <input class="form-control" type="text" ng-model="expense.name">
      </div>

      <div class="form-group">
        <label for="">*Cost</label>
        <input class="form-control" type="text" ng-model="expense.cost">
      </div>

      <div class="form-group">
        <label for="">*Date</label>
        <input class="form-control" type="date" ng-model="expense.date">
      </div>

      <div class="form-group">
        <label for="">*Repeat</label>
        <input class="form-control" type="text" ng-model="expense.repeat">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>

    </fieldset>
  </form>
</div>
