<div class="container" ng-init="getExpenses()">

  <form category-form ng-submit="addExpense()">
    <fieldset>
      <legend>Add Expense</legend>

      <div class="form-group">
        <label for="">*Categories</label>
        <select class="form-control" ng-init="getCategories()" ng-model="expense._category_id">
          <option
            ng-repeat="category in categories"
            value="{{category._id}}">
              {{category.name}}
            </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">*Name</label>
        <input class="form-control" type="text" ng-model="expense.name">
      </div>

      <div class="form-group">
        <label for="">*Cost</label>
        <input class="form-control" type="text" ng-model="expense.cost">
      </div>

      <div class="form-group">
        <label for="">*Date</label>
        <input class="form-control" type="date" ng-model="expense.date">
      </div>

      <div class="form-group">
        <label for="">*Repeat</label>
        <input class="form-control" type="text" ng-model="expense.repeat">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>

    </fieldset>
  </form>

  <hr>

  <h3>Expenses</h3>

  <table class="table">
    <thead>
      <tr>
        <th>EXPENSE</th>
        <th>COST</th>
        <th>CATEGORY</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

    <tr ng-repeat="expense in expenses">
      <td>
        <span>{{expense.name}}</span>
      </td>
      <td>R$ {{expense.cost}}</td>
      <td>{{expense._category_id.name}}</td>
      <td><a class="btn btn-warning" ng-href="#/expenses/{{expense._id}}/edit">edit</a></td>
      <td><button class="btn btn-danger" ng-click="deleteExpense($index, expense)">delete</button></td>
    </tr>
  </table>
</div>
