<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ng-app:expenseApp no-js ie ie8" id="ng-app" ng-app="expenseApp" lang="pt-br" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 9 ]> <html class="ng-app:expenseApp no-js ie ie9" id="ng-app" ng-app="expenseApp" lang="pt-br" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="ng-app:expenseApp no-js" id="ng-app" ng-app="expenseApp" lang="pt-br" xmlns:ng="http://angularjs.org"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if (gt IE 9)|!(IE)]><!--> <title>{{title}}</title><!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
  <link rel="icon" href="/favicon.png">

  <!--[if lt IE 9]>
    <script type="text/javascript" src="javascripts/libs/structure.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="stylesheets/stylesheet.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!--[if IE 8 ]> <link rel="stylesheet" href="stylesheets/ie/ie8.css"> <![endif]-->
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">

    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{me.name}}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ng-href="#/categories">Categories</a></li>
          <li><a ng-href="#/expenses">Expenses</a></li>
          <li><a href="auth/logout">logout</a></li>
        </ul>
      </div>

    </div>

  </nav>

  <section ng-view></section>

  <!-- angular -->
  <script type="text/javascript" src="javascripts/libs/angular.js"></script>

  <!-- plugins -->
  <script type="text/javascript" src="javascripts/libs/plugins.js"></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="javascripts/libs/functionality.js"></script>
  <![endif]-->

  <!-- application -->
  <script type="text/javascript" src="javascripts/application.js"></script>

</body>
</html>
