<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authentication</title>
  <link rel="stylesheet" href="../stylesheets/semantic.css">

  <style>
    .center-box {
      margin: 0 auto !important;
      margin-top: 20% !important;
    }
  </style>

</head>
<body>

  <div class="ui center aligned compact segment center-box">
    <h1 class="header">Entre</h1>
    <div class="ui horizontal divider">
      com
    </div>
    <a class="ui facebook button" href="/auth/facebook">
      <i class="facebook icon"></i>
      Facebook
    </a>
    <a class="ui twitter button" href="/auth/twitter">
      <i class="twitter icon"></i>
      Twitter
    </a>
    <a class="ui google plus button" href="/auth/google">
      <i class="google plus icon"></i>
      Google Plus
    </a>
  </div>

</body>
</html>