<div class="container" ng-init="getCategories()">

  <form category-form ng-submit="addCategory()">
    <fieldset>
      <legend>Add category</legend>

      <div class="form-group">
        <label for="">*Name</label>
        <input type="text" class="form-control" ng-model="category.name">
      </div>

      <div id="name">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>

    </fieldset>
  </form>

  <hr>

  <h3>Categories</h3>

  <table class="table">
    <thead>
      <tr>
        <th>CATEGORY</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

    <tr ng-repeat="cat in categories">
      <td>
        <span ng-hide="showEdit">{{cat.name}}</span>
        <form ng-show="showEdit" ng-submit="updateCategory($index, cat)">
          <input type="text" ng-model="cat.name">
          <button class="btn btn-success" type="submit">save</button>
        </form>
      </td>
      <td><button class="btn btn-warning" ng-click="showEdit = !showEdit">edit</button></td>
      <td><button class="btn btn-danger" ng-click="deleteCategory($index, cat)">delete</button></td>
    </tr>
  </table>

</div>
